
@{
    ViewBag.Title = "资源详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Models
@using PagedList.Mvc
@{
    Resouces resouces = ViewBag.resouces;
    UserInfo user = Session["user"] as UserInfo;
    PagedList.PagedList<Comment> com = ViewBag.com;
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
@*轮播*@
<link href="~/Content/LB/css/style.css" rel="stylesheet" />
<script src="~/Content/LB/js/hm.js"></script>
<script src="~/Content/LB/js/jquery.min.js"></script>
<script src="~/Content/LB/js/jquery.qrcode.min.js"></script>
<script src="~/Content/LB/js/js.js"></script>
<script src="~/Content/LB/js/tools.js"></script>
@if (resouces.Picture.Picture_a != null)
{
    <img src="~/Content/Resouces/Images/@resouces.Picture.Picture_a" style="width:1110px;height:360px" />
    <div style="color:Highlight;font-weight: bold;position: absolute;top: 70px;background-image: url('../../Content/LB/images/纱布.jpg');width: 1110px;height: 360px;opacity: 0.2">
    </div>
}
else
{
    <img src="~/Content/Resouces/Img/no-img.gif" style="width:1110px;height:360px" />
}
<h2 style="color:lightyellow;font-weight: bold;">【@resouces.Rname】</h2>
<div style="color:white;font-family:STHupo;margin-top:15px">
    <h5>资源图片:</h5>
</div>
@if (resouces.Picture.Picture_a != null)
{
    <div style="margin:0 auto">
        @if (resouces.Picture.Picture_e != null && resouces.Picture.Picture_d != null && resouces.Picture.Picture_c != null && resouces.Picture.Picture_b != null)
        {
            <div class="wrap" id="wrap" style="position:relative;top:20px;right:35px">
                <ul class="content">
                    <li style="top: 60px; left: 0px; width: 400px; height: 240px; z-index: 1; opacity: 0;"><img src="~/Content/Resouces/Images/@resouces.Picture.Picture_a" style="width:100%;height:100%" /></li>
                    <li style="top: 60px; left: 0px; width: 400px; height: 240px; z-index: 2; opacity: 0.4;"><img src="~/Content/Resouces/Images/@resouces.Picture.Picture_b" style="width:100%;height:100%" /></li>
                    <li style="top: 30px; left: 150px; width: 500px; height: 300px; z-index: 3; opacity: 0.7;"><img src="~/Content/Resouces/Images/@resouces.Picture.Picture_c" style="width:100%;height:100%" /></li>
                    <li style="top: 0px; left: 300px; width: 600px; height: 360px; z-index: 4; opacity: 1;"><img src="~/Content/Resouces/Images/@resouces.Picture.Picture_d" style="width:100%;height:100%" /></li>
                    <li style="top: 30px; left: 550px; width: 500px; height: 300px; z-index: 3; opacity: 0.7;"><img src="~/Content/Resouces/Images/@resouces.Picture.Picture_e" style="width:100%;height:100%" /></li>
                    <li style="top: 60px; left: 800px; width: 400px; height: 240px; z-index: 2; opacity: 0.4;"><img src="~/Content/Resouces/Images/@resouces.Picture.Picture_a" style="width:100%;height:100%" /></li>
                    <li style="top: 60px; left: 800px; width: 400px; height: 240px; z-index: 1; opacity: 0;"><img src="~/Content/Resouces/Images/@resouces.Picture.Picture_b" style="width:100%;height:100%" /></li>
                </ul>
                <a href="javascript:;" class="prev" style="display: none;">&lt;</a>
                <a href="javascript:;" class="next" style="display: none;">&gt;</a>
            </div>
        }
        else if (resouces.Picture.Picture_d != null && resouces.Picture.Picture_c != null && resouces.Picture.Picture_b != null)
        {
            <div class="wrap" id="wrap" style="position:relative;top:20px;right:35px">
                <ul class="content">
                    <li style="top: 60px; left: 0px; width: 400px; height: 240px; z-index: 1; opacity: 0;"><img src="~/Content/Resouces/Images/@resouces.Picture.Picture_a" style="width:100%;height:100%" /></li>
                    <li style="top: 60px; left: 0px; width: 400px; height: 240px; z-index: 2; opacity: 0.4;"><img src="~/Content/Resouces/Images/@resouces.Picture.Picture_b" style="width:100%;height:100%" /></li>
                    <li style="top: 30px; left: 150px; width: 500px; height: 300px; z-index: 3; opacity: 0.7;"><img src="~/Content/Resouces/Images/@resouces.Picture.Picture_c" style="width:100%;height:100%" /></li>
                    <li style="top: 0px; left: 300px; width: 500px; height: 360px; z-index: 4; opacity: 1;"><img src="~/Content/Resouces/Images/@resouces.Picture.Picture_d" style="width:100%;height:100%" /></li>
                    <li style="top: 30px; left: 550px; width: 500px; height: 300px; z-index: 3; opacity: 0.7;"><img src="~/Content/Resouces/Images/@resouces.Picture.Picture_c" style="width:100%;height:100%" /></li>
                    <li style="top: 60px; left: 800px; width: 400px; height: 240px; z-index: 2; opacity: 0.4;"><img src="~/Content/Resouces/Images/@resouces.Picture.Picture_a" style="width:100%;height:100%" /></li>
                    <li style="top: 60px; left: 800px; width: 400px; height: 240px; z-index: 1; opacity: 0;"><img src="~/Content/Resouces/Images/@resouces.Picture.Picture_b" style="width:100%;height:100%" /></li>
                </ul>
                <a href="javascript:;" class="prev" style="display: none;">&lt;</a>
                <a href="javascript:;" class="next" style="display: none;">&gt;</a>
            </div>
        }
        else if (resouces.Picture.Picture_c != null && resouces.Picture.Picture_b != null)
        {
            <div style="margin-left:110px">
                <img src="~/Content/Resouces/Images/@resouces.Picture.Picture_a" style="width:300px;height:120px" />
                <img src="~/Content/Resouces/Images/@resouces.Picture.Picture_b" style="width:300px;height:120px" />
                <img src="~/Content/Resouces/Images/@resouces.Picture.Picture_c" style="width:300px;height:120px" />
            </div>
        }
        else if (resouces.Picture.Picture_b != null)
        {
            <div style="margin-left:140px">
                <img src="~/Content/Resouces/Images/@resouces.Picture.Picture_a" style="width:400px;height:180px" />
                <img src="~/Content/Resouces/Images/@resouces.Picture.Picture_b" style="width:400px;height:180px" />
            </div>
        }
        else
        {
            <div>
                <img src="~/Content/Resouces/Images/@resouces.Picture.Picture_a" style="width:800px;height:300px;margin-left:150px" />
            </div>
        }
    </div>
}
else
{
    <div>
        <img src="~/Content/Resouces/Img/notfound.jpg" style="width:800px;height:300px;margin-left:150px" />
    </div>
}

<div style="width:1110px;height:auto;background-color:lightgray;opacity:0.9;margin-top:60px">
    <div style="width:1000px; height: auto;margin:0 auto;padding-top:1px;">
        <h4 style="color:black;margin-top:55px;font-family:STCaiyun">资源介绍：</h4>
        <div style="color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@resouces.Rdescribe</div>
        <div style="color:black;width:100%;height:80px;" class="row">
            <div style="width:334px;text-align:center;line-height:70px" class="row-cols-4">发布时间：@string.Format("{0:D}", resouces.Releasetime)</div>
            <div class="row-cols-4" style="width:332px;line-height:70px;text-align:center;">
                @if (Session["result"] != null)
                {
                    <a href="/Home/RemoveCollection?id=@resouces.ResoucesID" style="text-decoration:none;color:black">
                        <svg t="1594274321549" class="icon" viewBox="0 0 1025 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2077" width="20" height="20"><path d="M1024 384a103.04 103.04 0 0 0-72.32-64l-215.68-58.24L590.72 49.92A101.12 101.12 0 0 0 512 0a92.8 92.8 0 0 0-78.72 51.84l-120.32 192-161.28 49.28L72.96 320a97.28 97.28 0 0 0-68.48 56.96 115.2 115.2 0 0 0 19.84 97.28l140.8 178.56-7.68 256a117.76 117.76 0 0 0 17.92 88.96 64 64 0 0 0 49.92 21.12 181.76 181.76 0 0 0 60.8-13.44l208-84.48 236.16 87.68a141.44 141.44 0 0 0 42.88 7.68c29.44 0 78.72-13.44 82.56-103.68l-12.8-230.4 152.96-205.44A106.88 106.88 0 0 0 1024 384" p-id="2078" fill="#f4ea2a"></path></svg>
                        <label>已收藏</label>
                    </a>
                }
                else
                {
                    <a href="/Home/AddCollection?id=@resouces.ResoucesID" style="color:black">
                        <svg t="1593258792493" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2137" width="20" height="20"><path d="M813.4 1000.2c-3.9 0-7.7-0.9-11.3-2.8L513.2 845.5 224.3 997.4c-8.2 4.3-18.1 3.6-25.6-1.8s-11.2-14.6-9.7-23.8l55.2-321.7L10.5 422.3c-6.6-6.5-9-16.1-6.1-24.9 2.9-8.8 10.5-15.2 19.6-16.5L347 334 491.4 41.3c8.2-16.6 35.4-16.6 43.6 0l79.4 161c5.9 12 1 26.6-11 32.5-12 5.9-26.6 1-32.5-11L513.2 107 384.9 367c-3.5 7.2-10.4 12.1-18.3 13.3L79.7 421.9l207.6 202.4c5.7 5.6 8.3 13.6 7 21.5l-49 285.8 256.6-134.9c7.1-3.7 15.5-3.7 22.6 0l256.6 134.9-49-285.8c-1.3-7.9 1.3-15.9 7-21.5l207.6-202.4-286.9-41.7c-13.3-1.9-22.5-14.3-20.6-27.5 1.9-13.3 14.3-22.5 27.5-20.6l335.6 48.8c9.2 1.3 16.8 7.7 19.6 16.5 2.9 8.8 0.5 18.4-6.1 24.9L782.2 650.1l55.2 321.7c1.6 9.1-2.2 18.3-9.7 23.8-4.3 3-9.3 4.6-14.3 4.6z" p-id="2138"></path></svg>
                        <label>收藏</label>
                    </a>
                }
            </div>
            <div style="font-size:10px;width:332px;line-height:70px;text-align:center;" class="row-cols-4">

                上传者：
                <a href="/Home/UserInfo?id=@resouces.UserID">
                    @resouces.UserInfo.UserName
                </a>
            </div>
        </div>
    </div>
    <div style="color:black;width:1000px; height:auto;margin:0 auto;padding-bottom:1px;margin-bottom:12px">
        <h5>需求积分：@resouces.Rdemand</h5>
        <p><span>链接描述：</span>@resouces.Link.Ldescribe</p>
        <p>
            <span>相关链接：</span>
            @if (resouces.Rdemand != 0)
            {
                <a href="/Home/Links?id=@resouces.LinkID" class="btn btn-outline-primary">
                    <svg t="1593737658125" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2127" width="26" height="26"><path d="M549.451852 639.525926c-30.340741 0-58.88-11.757037-80.213333-33.09037l-26.832593-26.832593c-8.343704-8.343704-8.343704-21.807407 0-30.151111s21.807407-8.343704 30.151111 0l26.832593 26.832592c13.274074 13.274074 31.099259 20.574815 50.062222 20.574815s36.788148-7.300741 50.062222-20.574815l236.088889-236.088888c27.591111-27.591111 27.591111-72.533333 0-100.124445l-48.82963-48.82963c-13.274074-13.274074-31.099259-20.574815-50.062222-20.574814s-36.788148 7.300741-50.062222 20.574814L540.065185 337.825185c-8.343704 8.343704-21.807407 8.343704-30.151111 0s-8.343704-21.807407 0-30.151111L656.402963 161.185185c21.333333-21.333333 49.872593-33.09037 80.213333-33.09037 30.340741 0 58.88 11.757037 80.213334 33.09037l48.829629 48.82963c44.183704 44.183704 44.183704 116.148148 0 160.426666l-236.088889 236.088889c-21.238519 21.238519-49.777778 32.995556-80.118518 32.995556z" p-id="2128" fill="#1296db"></path><path d="M292.977778 896c-30.340741 0-58.88-11.757037-80.213334-33.09037l-48.829629-48.82963c-44.183704-44.183704-44.183704-116.148148 0-160.426667l236.088889-236.088889c21.333333-21.333333 49.872593-33.09037 80.213333-33.09037s58.88 11.757037 80.213333 33.09037l21.997037 21.997037c8.343704 8.343704 8.343704 21.807407 0 30.151112s-21.807407 8.343704-30.151111 0l-21.997037-21.997037c-13.274074-13.274074-31.099259-20.574815-50.062222-20.574815s-36.788148 7.300741-50.062222 20.574815l-236.088889 236.088888c-27.591111 27.591111-27.591111 72.533333 0 100.124445l48.82963 48.82963c13.274074 13.274074 31.099259 20.574815 50.062222 20.574814s36.788148-7.300741 50.062222-20.574814l146.488889-146.488889c8.343704-8.343704 21.807407-8.343704 30.151111 0s8.343704 21.807407 0 30.151111L373.191111 862.90963C351.857778 884.242963 323.413333 896 292.977778 896z" p-id="2129" fill="#1296db"></path></svg>
                    使用积分获取
                </a>
                <label style="color:red">@TempData["nofull"]</label>
            }
            else
            {
                <a href="@resouces.Link.Linkline" target="_blank">@resouces.Link.Linkline</a>
            }
        </p>
        <p><span>链接备注;</span>@resouces.Link.Lremarks</p>
    </div>
    @*评论*@
    @if (user != null)
    {
        <div>
            <form action="/Home/Comment" method="post">
                <div style="position:relative;top:180px;left:60px">
                    <label style="font-size:8px;color:green">@user.UserName</label>
                    <picture><img src="~/Content/icon/@user.UserPicture" style="width:30px;height:30px;border-radius: 4px" /></picture>
                    @if (user.UserID == ViewBag.uid)
                    {
                        <a href="#" class="btn-sm btn-danger">发布者</a>
                    }
                    else
                    {
                        <a href="#" class="btn-sm btn-dark">浏览者</a>
                    }
                </div>
                <textarea class="form-control" rows="5" style="max-width:1010px;margin-left:50px" placeholder="你的评论可以一针见血" name="Content" id="Content"></textarea>
                <input type="submit" class="btn btn-primary" value="发表" style="position:relative;left:950px;top:10px; min-width:100px" />
            </form>
        </div>
        <div style="background-color:#e3e3ce;max-width:1060px;margin-left:20px;margin-top:10px">
            <div style="height:10px"></div>
            @foreach (var item in com)
            {
                <div style="background-color: whitesmoke;margin-top:2px;max-width:900px;margin-left:96px;border-radius:5px">
                    <div style="font-size:10px;margin-left:10px;padding-top:5px;max-width:220px">
                        <a href="#" style="text-decoration:none">
                            <img src="~/Content/icon/@item.UserInfo.UserPicture" style="width:25px;height:25px;border-radius: 3px;border:0.5px solid black" />
                            <label>UID:@item.UserID</label>
                            <label style="color:#808080">@item.UserInfo.UserName</label>
                        </a>
                        @if (item.UserID == ViewBag.uid)
                        {
                            <lable class="btn-sm btn-primary">发布者</lable>
                        }
                    </div>
                    <label style="padding-left:30px">@item.Content</label>
                </div>
            }
            @if (com.TotalItemCount < com.PageSize)
            {

            }
            else
            {
                <div style="height:100px;padding:10px;margin:5px 0px 0px 0px;text-align:center;background-color:white">
                    当前页/总页数（ @(com.PageCount < com.PageNumber ? 0 : com.PageNumber) / @com.PageCount ）
                    @Html.PagedListPager(com, page => Url.Action("Details", new
               {
                   page,
                        id = resouces.ResoucesID
               }))
                </div>
            }
        </div>     
    }
    else
    {
        <div>
            <div class="btn btn-secondary text-center" style="margin-left:50px;margin-bottom:10px" data-toggle="modal" data-target="#Login">请登录再发表和查看资源评论</div>
        </div>
    }
</div>


<script>
    $(function () {
        $('.bot-img ul li').click(function () {
            var _this = $(this);
            _this.addClass('active').siblings('li').removeClass('active');
            var int = _this.index();
            $('.activeimg').animate({ left: int * -500 }, "slow");
        });
        var list = $('.bot-img ul li').length;
        $('.activeimg').css({
            width: list * 500,
        });
        $('.right').click(function () {
            next(list)

        })
        $('.left').click(function () {
            prev(list)
        });

        //自动播放 2秒播放一次 无限循环
        var timer = '';
        var num = 0;
        timer = setInterval(function () { //打开定时器
            num++;
            if (num > parseFloat(list) - 1) {
                num = 0;
                $('.activeimg').animate({ left: num * -500 }, "slow");
            } else {
                $('.activeimg').animate({ left: num * -500 }, "slow");
            }
        }, 2000);
    })
    var index = 0;
    //下一张
    function next(list) {
        if (index < list - 1) {
            index++;
            $('.activeimg').animate({ left: index * -500 }, "slow");
            $('.bot-img ul li').eq(index).addClass('active').siblings('li').removeClass('active')
        } else {
            index = 0;
            $('.activeimg').animate({ left: index * -522 }, "slow");
            $('.bot-img ul li').eq(index).addClass('active').siblings('li').removeClass('active')
        }
    }
    //        上一张
    function prev(list) {
        index--;
        if (index < 0) {
            index = list - 1;
            $('.activeimg').animate({ left: index * -500 }, "slow");
            $('.bot-img ul li').eq(index).addClass('active').siblings('li').removeClass('active')
        } else {
            $('.activeimg').animate({ left: index * -500 }, "slow");
            $('.bot-img ul li').eq(index).addClass('active').siblings('li').removeClass('active')
        }
    }
</script>

