
@{
    ViewBag.Title = "搜索结果";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Models
@using PagedList.Mvc
@model PagedList.PagedList<Resouces>
<h2 style="text-align:center;font-family:STCaiyun;color:white">搜索结果</h2>
<div class="row" style="min-height:600px">
    @foreach (var item in Model)
    {
        <div class="col-md-6" style="max-height:300px;overflow:hidden">
            <a href="/Home/Details?id=@item.ResoucesID" style="text-decoration:none;display:block;overflow:hidden" class="asb">
                <dl style="background-color: whitesmoke;width: 100%;height: 160px;text-align:left;overflow:hidden">
                    <dt>
                        @if (item.Picture.Picture_a == "null")
                        {
                            <img src="~/Content/Resouces/Img/notfound.jpg" style="width:40%;height:160px;float:left" />
                        }
                        else
                        {
                            <img src="~/Content/Resouces/Images/@item.Picture.Picture_a" style="width:40%;height:160px;float:left" />
                        }
                    </dt>
                    <dd style="height:120px;padding:6px;overflow:hidden;color:palevioletred">
                        <div>
                            <h5>
                                @item.Rname
                            </h5>
                        </div>
                        <div style="max-width:420px;white-space:normal; word-break:break-all;overflow:hidden;color:black;font-size:12px">
                            @item.Rdescribe
                        </div>
                    </dd>
                    <dd>
                        <span style="font-size:8px;margin-left:5px;color:black;overflow:hidden">
                            <svg t="1592024207787" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1912" width="16" height="16"><path d="M1022.88 504.832c-0.32-1.344-0.128-2.784-0.64-4.096-0.192-0.544-0.672-0.832-0.864-1.344-0.32-0.768-0.256-1.632-0.672-2.368-92.8-177.632-294.816-304.896-507.936-304.896-213.152 0-415.136 127.072-508 304.672-0.416 0.736-0.352 1.6-0.672 2.368-0.224 0.512-0.672 0.8-0.864 1.344-0.512 1.312-0.32 2.752-0.64 4.096-0.576 2.4-1.12 4.704-1.12 7.168s0.576 4.736 1.12 7.168c0.32 1.344 0.128 2.784 0.64 4.096 0.192 0.544 0.672 0.832 0.864 1.344 0.32 0.768 0.256 1.632 0.672 2.368 92.832 177.632 294.848 304.896 508 304.896 213.12 0 415.136-127.072 507.936-304.672 0.448-0.736 0.384-1.6 0.672-2.368 0.192-0.512 0.672-0.8 0.864-1.344 0.512-1.312 0.32-2.752 0.64-4.096 0.544-2.432 1.12-4.736 1.12-7.168s-0.576-4.768-1.12-7.168z m-510.144 262.784c-179.68 0-355.584-102.112-443.232-255.84 88.128-153.92 263.776-255.68 443.232-255.68 179.616 0 355.552 102.144 443.2 255.84-88.128 153.952-263.744 255.68-443.2 255.68z" fill="#333333" p-id="1913"></path><path d="M512.736 383.968l-0.192 0.032a127.936 127.936 0 0 0-127.744 127.872 16 16 0 0 0 31.968 0 96.064 96.064 0 0 1 95.968-95.904v-0.032a15.968 15.968 0 0 0 0-31.968z" fill="#333333" p-id="1914"></path><path d="M512 288a224 224 0 1 0 0 448 224 224 0 0 0 0-448z m0 416c-105.888 0-192-86.112-192-192s86.112-192 192-192 192 86.112 192 192-86.112 192-192 192z" fill="#333333" p-id="1915"></path></svg>
                            阅览（@item.Reading）
                            &nbsp;
                            <svg t="1592024387140" class="icon" viewBox="0 0 1028 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2774" width="16" height="16"><path d="M917.405301 152.119518h-801.927711a37.012048 37.012048 0 0 0-37.012048 37.012048v559.375422a37.012048 37.012048 0 0 0 37.012048 37.012048H359.016867l133.736868 105.484337a37.012048 37.012048 0 0 0 45.524819 0l136.821205-105.731084h242.305542a37.012048 37.012048 0 0 0 37.012048-37.012048V189.131566a37.012048 37.012048 0 0 0-37.012048-37.012048z m-12.337349 74.024096v485.351326a24.674699 24.674699 0 0 1-24.674699 24.674699H676.703614l-138.42506 105.854457a37.012048 37.012048 0 0 1-45.401446 0L359.016867 736.169639H152.489639a24.674699 24.674699 0 0 1-24.674699-24.674699V238.480964a37.012048 37.012048 0 0 1 37.012048-37.012048h715.566265a24.674699 24.674699 0 0 1 24.674699 24.674698z" fill="#666666" p-id="2775"></path><path d="M954.417349 78.095422h-875.951807a74.024096 74.024096 0 0 0-74.024096 74.024096v633.399518a74.024096 74.024096 0 0 0 74.024096 74.024097H357.783133l113.997108 86.361445a74.024096 74.024096 0 0 0 89.69253 0l113.997109-86.361445h278.947469a74.024096 74.024096 0 0 0 74.024097-74.024097V152.119518a74.024096 74.024096 0 0 0-74.024097-74.024096z m24.674699 707.300241a24.674699 24.674699 0 0 1-24.674699 24.674698H675.099759L537.908434 915.924819a37.012048 37.012048 0 0 1-45.52482 0L357.783133 810.193735H78.465542a24.674699 24.674699 0 0 1-24.674699-24.674699V152.119518a24.674699 24.674699 0 0 1 24.674699-24.674699h875.951807a24.674699 24.674699 0 0 1 24.674699 24.674699z" fill="#666666" p-id="2776"></path><path d="M288.447229 372.217831a92.53012 92.53012 0 1 0 92.53012 92.530121 92.53012 92.53012 0 0 0-92.53012-92.530121z m0 123.373494a30.843373 30.843373 0 1 1 30.843373-30.843373 30.843373 30.843373 0 0 1-30.843373 30.843373zM515.454458 372.217831a92.53012 92.53012 0 1 0 92.53012 92.530121 92.53012 92.53012 0 0 0-92.53012-92.530121z m0 123.373494a30.843373 30.843373 0 1 1 30.843373-30.843373 30.843373 30.843373 0 0 1-30.843373 30.843373zM742.58506 372.217831a92.53012 92.53012 0 1 0 92.530121 92.530121 92.53012 92.53012 0 0 0-92.530121-92.530121z m0 123.373494a30.843373 30.843373 0 1 1 30.843374-30.843373 30.843373 30.843373 0 0 1-30.843374 30.843373z" fill="#666666" p-id="2777"></path></svg>
                            评论（@item.Comment.Count()）
                            <svg t="1592216896882" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7848" width="16" height="16"><path d="M529.066667 213.333333a341.333333 341.333333 0 1 1-341.333334 341.333334 341.333333 341.333333 0 0 1 341.333334-341.333334m0-85.333333a426.666667 426.666667 0 1 0 426.666666 426.666667 426.666667 426.666667 0 0 0-426.666666-426.666667z" fill="#515151" p-id="7849"></path><path d="M529.066667 298.666667a42.666667 42.666667 0 0 0-42.666667 42.666666v213.333334a42.666667 42.666667 0 0 0 85.333333 0V341.333333a42.666667 42.666667 0 0 0-42.666666-42.666666z" fill="#515151" p-id="7850"></path><path d="M742.4 512h-213.333333a42.666667 42.666667 0 1 0 0 85.333333h213.333333a42.666667 42.666667 0 0 0 0-85.333333z" fill="#515151" p-id="7851"></path></svg>
                            @string.Format("{0:D}", item.Releasetime)
                        </span>
                    </dd>
                </dl>
            </a>
        </div>
    }

    @if (Model.TotalItemCount < Model.PageSize)
    {

    }
    else
    {
        <div style="width:100%;height:100px;padding:10px;margin-bottom:5px;text-align:center;background-color:white">
            当前页/总页数（ @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount ）
            @Html.PagedListPager(Model, page => Url.Action("searchResult", new
       {
           page,
       }))
        </div>
    }
</div>

