@using Models;
@{
    UserInfo infos = Session["user"] as UserInfo;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        #card-img {
            border-radius: 50%;
            width: 30%;
            height: 30%;
            margin: 0px auto;
            margin-top: 2em
        }

        .ul_item {
            list-style: none;
            margin-right: 2px
        }

            .ul_item li {
                background-color: dimgray;
                height: 3.0rem;
                margin-left: -52px;
                margin-top: 4px;
                line-height: 3.0rem;
                text-align: center;
            }

                .ul_item li > a:hover {
                    color: cornflowerblue;
                    font-weight: bold;
                    background-color: lightgray;
                    transition: all 500ms;
                }

                .ul_item li a {
                    display: inline-block;
                    width: 100%;
                    text-decoration: none;
                    color: white;
                }
    </style>
</head>
<body>
    <div style="position:fixed;width:100%;height:auto;z-index:9999">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <!-- Brand/logo -->
            <img src="~/Content/Layout/Logo.png" style="width:50px;height:50px;" />
            <a class="navbar-brand" href="/Home/Index" style="padding-top:10px;font-family:STXingkai;font-size:24px">繁星资源网</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link af" href="/Home/Index" style="font-size:14px;font-weight:bold">
                            <svg t="1592142582736" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="20008" width="16" height="16"><path d="M618.666667 939.52h106.410666a64 64 0 0 0 64.256-63.872v-385.237333a21.333333 21.333333 0 0 1 21.376-21.333334l104.533334 0.213334a24.32 24.32 0 0 0 18.773333-8.576c7.509333-9.088 5.888-21.973333-4.906667-30.08l-402.133333-340.48c-8.661333-6.485333-21.12-6.485333-28.8-0.853334l-404.181333 341.973334a20.650667 20.650667 0 0 0-8.576 16.469333c0 11.52 10.24 21.333333 23.466666 21.333333H213.333333a21.333333 21.333333 0 0 1 21.333334 21.546667v385.066667c0 34.986667 28.885333 63.829333 64.256 63.829333H405.333333V725.333333c0-58.026667 38.954667-106.666667 89.6-106.666666h34.133334c50.645333 0 89.6 48.64 89.6 106.666666v214.186667z m-42.666667 0V725.333333c0-36.266667-22.186667-64-46.933333-64h-34.133334c-24.746667 0-46.933333 27.733333-46.933333 64v214.186667h128z m256-427.733333v363.861333a106.666667 106.666667 0 0 1-106.922667 106.538667H298.922667A106.922667 106.922667 0 0 1 192 875.690667v-363.946667H108.885333c-36.309333 0-66.133333-28.416-66.133333-64 0-19.882667 9.514667-38.570667 24.661333-49.834667l404.224-341.930666a68.266667 68.266667 0 0 1 81.877334 0.768l402.176 340.522666c29.184 21.802667 34.346667 62.592 11.306666 90.581334a66.986667 66.986667 0 0 1-51.797333 24.106666l-83.2-0.170666z" p-id="20009" fill="#bfbfbf"></path></svg>
                            首页
                        </a>
                    </li>
                </ul>

                <a href="#">
                    <img src="~/Content/icon/@infos.UserPicture" style=" width: 34px; height: 34px; display: flex; border-radius: 50%; align-items: center; justify-content: center; overflow: hidden" />
                </a>
                <div class="nav-item">
                    <a class="nav-link" href="#" style="color:aqua;font-size:10px">
                        @infos.UserName
                    </a>
                </div>

            </div>
        </nav>
    </div>

    <div class="container body-content" style="padding-top:68px">
        <div class="row">
            <div class="col-3 bg-dark" style="padding-right:0px;">
                <div class="card bg-transparent border-0">
                    <img src="~/Content/icon/@infos.UserPicture" class="card-img-top" id="card-img" style="width: 60px; height: 60px; display: flex; border-radius: 50%; align-items: center; justify-content: center; overflow: hidden" />
                    <div class="card-body text-white">
                        <h5 class="card-title text-center">@infos.UserName</h5>
                        <p class="card-text" style="font-size:12px;text-align:center">
                            <label>UID:@infos.UserID</label>
                        </p>
                        <p class="card-text" style="font-size:12px;text-align:center">
                            <svg class="bi bi-tag-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor">
                                <path fill-rule="evenodd" d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                            </svg>
                            @infos.Userdescribe
                        </p>

                    </div>
                </div>
                <ul class="ul_item">
                    <li>
                        <a href="~/User/UserCenter">
                            <svg t="1592140173439" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5624" width="16" height="16"><path d="M822.16448 68.74112H201.86112c-57.088 0-103.3728 49.62816-103.3728 110.81216v664.89856c0 61.2096 46.2848 110.81216 103.3728 110.81216h620.27264c57.09824 0 103.37792-49.62816 103.37792-110.83264V179.54816c0.00512-61.17888-46.27456-110.80704-103.3472-110.80704z m-298.27584 471.80288a260.97664 260.97664 0 0 0-33.22368-1.57184c-8.91904 0.17408-17.8176 0.78848-26.68032 1.83296l-2.66752 0.3584a262.73792 262.73792 0 0 0-64.13824 18.29376l-0.11776 0.06656a268.66176 268.66176 0 0 0-57.68192 35.68128 283.3664 283.3664 0 0 0-42.01984 43.8272c-0.44032 0.59392-2.33472 3.16416-2.4832 3.31776l-1.27488 1.77664a292.50048 292.50048 0 0 0-30.0288 53.8624l-1.59744 3.85024-0.88576 2.2784a293.16608 293.16608 0 0 0-16.08192 63.37024l-0.4096 3.49696c-0.512 4.63872-0.90624 9.28256-1.18272 13.952a302.56128 302.56128 0 0 0-0.5888 18.65728v0.0256c-0.03072 11.07456-8.79616 20.29056-19.36896 20.29056-10.51136 0-19.36896-9.24672-19.36896-20.29056 0.1536-52.56192 13.0304-105.088 37.9648-150.74816a303.40608 303.40608 0 0 1 96.24064-106.368 283.25888 283.25888 0 0 1 68.49024-33.69472 179.35872 179.35872 0 0 1-71.07072-91.02848c-13.58848-38.40512-13.91616-83.18464 0-121.5232 13.97248-38.67648 39.5008-72.02304 73.79456-92.928a165.3248 165.3248 0 0 1 117.43744-21.08416 166.21056 166.21056 0 0 1 97.07008 59.10528 186.38336 186.38336 0 0 1 40.8064 115.6352 185.46688 185.46688 0 0 1-40.8064 115.66592 171.23328 171.23328 0 0 1-40.56576 36.2752 288.384 288.384 0 0 1 50.33472 22.26688c9.30304 5.21728 12.14464 18.47808 6.9632 27.78112a19.10784 19.10784 0 0 1-25.9328 7.56736c-0.1792-0.10752-0.36352-0.2048-0.54272-0.31744a271.8464 271.8464 0 0 0-20.86912-10.62912l-0.1792-0.08704a260.4544 260.4544 0 0 0-64.08192-18.304c-1.19296-0.1536-4.51072-0.59904-5.25312-0.66048z m276.6592 300.24192H548.608c-10.54208 0-19.33312-9.24672-19.33312-20.31616 0-11.04896 8.79616-20.28544 19.33312-20.28544h251.93984c10.5472 0 19.33312 9.23648 19.33312 20.28544 0.00512 11.06944-8.78592 20.31616-19.33312 20.31616z m0-105.72288H548.608c-10.54208 0-19.33312-9.2416-19.33312-20.28544 0-11.07456 8.79616-20.31104 19.33312-20.31104h251.93984c10.5472 0 19.33312 9.23648 19.33312 20.31104 0.00512 11.04896-8.78592 20.28544-19.33312 20.28544z m0-105.68192H548.608c-10.54208 0-19.33312-9.23648-19.33312-20.31104 0-11.04384 8.79616-20.29056 19.33312-20.29056h251.93984c10.5472 0 19.33312 9.24672 19.33312 20.29056 0.00512 11.07456-8.78592 20.31104-19.33312 20.31104z" fill="#d81e06" p-id="5625"></path><path d="M598.97856 444.98944a157.81376 157.81376 0 0 0 17.024-30.62272l0.5376-1.30048a162.1504 162.1504 0 0 0 8.5248-33.40288l0.47616-4.5312a167.3728 167.3728 0 0 0-0.50176-33.16736v-0.14848a164.7872 164.7872 0 0 0-9.15456-34.64704l-0.29696-0.65024-1.36704-3.05152a155.7248 155.7248 0 0 0-15.09376-26.29632 165.16608 165.16608 0 0 0-17.85344-19.77856 181.71392 181.71392 0 0 0-4.82816-4.29056l-1.38752-1.18272-0.53248-0.384a149.91872 149.91872 0 0 0-28.05248-17.08544 144.80896 144.80896 0 0 0-29.78816-9.06752l-4.91008-0.79872-4.20352-0.44032a145.67936 145.67936 0 0 0-31.00672 0.71168l-0.73728 0.11776a143.49824 143.49824 0 0 0-31.86688 9.38496 148.224 148.224 0 0 0-25.57952 15.22176l-3.1744 2.4832a153.87648 153.87648 0 0 0-22.8864 23.69024l-1.13152 1.47968a158.6688 158.6688 0 0 0-16.8448 30.26432 162.2784 162.2784 0 0 0-9.0368 34.35008l-0.0256 0.26624a166.48704 166.48704 0 0 0-0.0256 37.54496l0.05632 0.47616c1.77664 11.7504 4.76672 23.2448 9.00608 34.25792v0.03072l1.3312 3.08224a163.584 163.584 0 0 0 13.32736 24.0128l2.37056 3.34336a150.4256 150.4256 0 0 0 21.70368 23.30112l0.0256 0.03072 1.99168 1.6896a148.48 148.48 0 0 0 28.98944 17.7664 143.72352 143.72352 0 0 0 33.19296 9.56416c1.3312 0.14336 3.61472 0.44032 4.44416 0.50688a144.5888 144.5888 0 0 0 31.3856-0.47616l0.3584-0.06144a130.58048 130.58048 0 0 0 19.15392-4.5056 142.84288 142.84288 0 0 0 13.24032-4.82304l0.11776-0.06144 2.12992-0.97792a152.12032 152.12032 0 0 0 27.1616-16.9984l3.6352-3.07712a153.07264 153.07264 0 0 0 20.10112-21.74976z" fill="#d81e06" p-id="5626"></path></svg>
                            用户中心
                        </a>
                    </li>
                    <li>
                        <a href="/User/Contribution">
                            <svg t="1592140244452" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="8220" width="16" height="16"><path d="M660.4 412c-30.1 0-58.5-11.8-79.8-33.1-21.3-21.4-32.9-49.7-32.8-79.9l0.8-174.1c0.1-12.4 7.5-23.5 18.9-28.4 11.4-4.8 24.6-2.4 33.5 6.1l268.2 256c9.2 8.7 12.1 22.2 7.4 33.9-4.7 11.8-16.1 19.5-28.8 19.5H660.4z" p-id="8221" fill="#13227a"></path><path d="M877.8 469.9H633.5c-39.3 0-76.2-15.3-104-43.2-27.7-27.9-42.9-64.8-42.7-104.2l1-227c0-2.2 0.2-4.3 0.6-6.4h-197c-82.6 0-149.7 67.2-149.7 149.7v548.3c0 82.6 67.2 149.7 149.7 149.7h442c82.6 0 149.7-67.2 149.7-149.7V469.5c-1.8 0.2-3.6 0.4-5.3 0.4zM687 805.7H337.6c-18.7 0-33.8-15.1-33.8-33.8 0-18.7 15.1-33.8 33.8-33.8H687c18.7 0 33.8 15.1 33.8 33.8 0 18.6-15.2 33.8-33.8 33.8z m0-138.5H337.6c-18.7 0-33.8-15.1-33.8-33.8 0-18.7 15.1-33.8 33.8-33.8H687c18.7 0 33.8 15.1 33.8 33.8 0 18.6-15.2 33.8-33.8 33.8z" p-id="8222" fill="#13227a"></path></svg>
                            我要投稿
                        </a>
                    </li>
                    <li>
                        <a href="/User/Myshare">
                            <svg t="1592140339527" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="10356" width="16" height="16"><path d="M807.563636 407.272727H698.181818c-13.963636 0-23.272727 9.309091-23.272727 23.272728s9.309091 23.272727 23.272727 23.272727h109.381818c41.890909 0 74.472727 34.909091 74.472728 74.472727v302.545455c0 41.890909-34.909091 74.472727-74.472728 74.472727H216.436364c-41.890909 0-74.472727-34.909091-74.472728-74.472727v-302.545455c0-41.890909 34.909091-74.472727 74.472728-74.472727h111.709091c13.963636 0 23.272727-9.309091 23.272727-23.272727s-9.309091-23.272727-23.272727-23.272728H216.436364c-67.490909 0-121.018182 53.527273-121.018182 121.018182v302.545455c0 67.490909 53.527273 121.018182 121.018182 121.018181h591.127272c67.490909 0 121.018182-53.527273 121.018182-121.018181v-302.545455c0-67.490909-53.527273-121.018182-121.018182-121.018182z" fill="#1afa29" p-id="10357"></path><path d="M318.836364 311.854545c6.981818 0 11.636364-2.327273 16.290909-6.981818L488.727273 148.945455V744.727273c0 13.963636 9.309091 23.272727 23.272727 23.272727s23.272727-9.309091 23.272727-23.272727V148.945455l153.6 153.6c4.654545 4.654545 11.636364 6.981818 16.290909 6.981818s11.636364-2.327273 16.290909-6.981818c9.309091-9.309091 9.309091-23.272727 0-32.581819l-193.163636-193.163636c-4.654545-4.654545-11.636364-6.981818-16.290909-6.981818-6.981818 0-11.636364 2.327273-16.290909 6.981818L302.545455 269.963636c-9.309091 9.309091-9.309091 23.272727 0 32.581819 2.327273 6.981818 9.309091 9.309091 16.290909 9.30909z" fill="#1afa29" p-id="10358"></path></svg>
                            我的分享
                        </a>
                    </li>
                    <li>
                        <a href="/User/Collection">
                            <svg t="1592141493724" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="18285" width="16" height="16"><path d="M327.728136 804.301276l150.60509-60.966537 33.721009-13.627369 33.721009 13.627369 150.609183 60.914348-4.484128-166.562527-0.907673-32.985252 20.663622-25.711592 96.563266-120.353089L652.842749 411.574776l-30.030967-9.081843-17.825994-25.716708-92.931552-134.033669-92.871177 134.033669-17.825994 25.716708-30.033014 9.081843-155.490354 47.120181 96.566336 120.29476 20.663622 25.711592-0.907673 32.985252L327.728136 804.301276M789.940197 939.129031 512.054235 826.727031 234.17339 939.129031l8.115841-303.886125L62.389956 411.175687l282.879696-85.667102L512.054235 84.869946l166.843936 240.638639 282.711873 85.667102L781.766027 635.243929 789.940197 939.129031 789.940197 939.129031 789.940197 939.129031z" p-id="18286" fill="#1a2387"></path></svg>
                            我的收藏
                        </a>
                    </li>
                    <li>
                        <a href="/User/EidtInfo">
                            <svg t="1592140374435" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="11423" width="16" height="16"><path d="M932.981 644.538c-16.379 0-35.29 13.401-35.29 29.78v120.165c0 57.030-46.011 103.189-102.594 103.189h-569.106c-56.732 0-102.594-46.159-102.594-103.189v-567.914c0-57.030 45.862-103.189 102.594-103.189h252.091c16.379 0 29.632 1.489 29.632-14.89s-13.252-44.67-29.632-44.67h-295.87c-65.368 0-118.377 53.307-118.377 119.122v655.171c0 65.815 53.009 119.122 118.377 119.122h656.66c65.368 0 118.377-53.307 118.377-119.122v-163.793c0.001-16.379-7.891-29.78-24.27-29.78zM247.731 742.963c-4.765 32.46 17.422 54.2 49.584 48.245l188.808-34.099-209.208-210.549-29.185 196.403zM639.643 280.024c23.229-23.377 60.603-23.377 83.832 0l41.842 41.99c23.080 23.377 23.080 61.050 0 84.278l-188.363 189.554c-23.080 23.229-60.603 23.229-83.683 0l-41.842-42.14c-23.080-23.229-23.080-60.901 0-84.278l188.214-189.405zM535.113 722.264l355.728-358.11-209.208-210.548-355.728 357.962 209.208 210.697zM935.809 304.594c34.694-34.844 24.42-81.152-10.274-115.995l-83.683-84.279c-34.694-34.844-90.831-34.844-125.525 0l209.208 210.548 10.274-10.274z" p-id="11424" fill="#1296db"></path></svg>
                            修改资料
                        </a>
                    </li>
                    <li>
                        <a href="/User/Comment">
                            <svg t="1592140425076" class="icon" viewBox="0 0 1025 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="12572" width="16" height="16"><path d="M512.001024 895.995648c-32.743489 0-64.663681-2.95527-95.699135-8.093712L191.998336 1024 191.998336 797.421115C75.051158 715.310487 0 589.403291 0 448.002944 0 200.575377 229.233098 0 512.001024 0c282.769974 0 512.001024 200.575377 512.001024 448.002944C1024.002048 695.424367 794.773046 895.995648 512.001024 895.995648zM512.001024 64.004224c-247.423471 0-448.000896 171.921752-448.000896 383.99872 0 130.115844 75.696279 244.92081 191.205758 314.368629l-2.019332 148.433193 150.638893-90.546357c34.703429 7.387151 70.803598 11.743255 108.173528 11.743255 247.425519 0 448.000896-171.921752 448.000896-383.99872S759.426543 64.004224 512.001024 64.004224zM736.001472 416.000832l-448.000896 0c-17.672227 0-32.000064-14.325789-32.000064-31.998016s14.327837-32.002112 32.000064-32.002112l448.000896 0c17.672227 0 32.002112 14.329885 32.002112 32.002112S753.673699 416.000832 736.001472 416.000832zM352.000704 544.005184l320.00064 0c17.672227 0 32.000064 14.319645 32.000064 31.998016 0 17.668131-14.327837 31.991872-32.000064 31.991872l-320.00064 0c-17.674275 0-32.000064-14.323741-32.000064-31.991872C320.00064 558.324829 334.326429 544.005184 352.000704 544.005184z" p-id="12573" fill="#d4237a"></path></svg>
                            评论管理
                        </a>
                    </li>
                    <li>
                        <a href="/User/ChangePwd">
                            <svg t="1592140543665" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="14307" width="16" height="16"><path d="M950.896786 573.49276c5.969977-30.240882 9.099964-61.50276 9.099964-93.494635C959.99675 214.902161 745.094589 0 479.998625 0S0.0005 214.902161 0.0005 479.998125s214.902161 479.998125 479.998125 479.998125c31.991875 0 63.253753-3.129988 93.494635-9.099964a271.948938 271.948938 0 0 1-27.651892-56.030782A423.131347 423.131347 0 0 1 479.998625 899.996484C248.039531 899.996484 60.000266 711.957219 60.000266 479.998125S248.039531 59.999766 479.998625 59.999766s419.998359 188.039265 419.998359 419.998359c0 22.399913-1.753993 44.390827-5.13098 65.842743a271.949938 271.949938 0 0 1 56.029782 27.651892z" fill="#8f1e34" p-id="14308"></path><path d="M414.998879 395.998453h139.999453v-69.999726c0-38.659849-31.339878-69.999727-69.999727-69.999727s-69.999727 31.339878-69.999726 69.999727v69.999726z m262.998973 164.233359C615.388096 592.535685 566.882286 648.347467 544.153374 715.997203H325.999227c-18.777927 0-33.999867-15.221941-33.999868-33.999867V429.99832c0-18.777927 15.221941-33.999867 33.999868-33.999867h36.999855v-69.999726c0-67.378737 54.620787-121.999523 121.999523-121.999524 67.378737 0 121.999523 54.620787 121.999524 121.999524v69.999726h36.999855c18.777927 0 33.999867 15.221941 33.999868 33.999867v130.233492z m-218.999145 21.777915V664.997402h51.999797v-82.987675c25.785899-10.32096 43.999828-35.539861 43.999828-65.011747 0-38.659849-31.339878-69.999727-69.999727-69.999726s-69.999727 31.339878-69.999726 69.999726c0 29.471885 18.213929 54.689786 43.999828 65.011747z" fill="#8f1e34" p-id="14309"></path><path d="M718.024695 659.201425a165.999352 165.999352 0 0 1 43.379831-17.98293l5.689978-44.382826c1.087996-8.482967 8.309968-14.837942 16.862934-14.837942h38.079851c8.552967 0 15.774938 6.354975 16.861934 14.837942l5.689978 44.382826a165.999352 165.999352 0 0 1 43.38083 17.98293l35.418862-27.369893c6.767974-5.22898 16.366936-4.615982 22.414912 1.431994l26.926895 26.926895c6.047976 6.047976 6.659974 15.646939 1.430995 22.414913l-27.368893 35.418861a165.999352 165.999352 0 0 1 17.982929 43.379831l44.382827 5.689978c8.482967 1.087996 14.837942 8.309968 14.837942 16.862934v38.079851c0 8.552967-6.354975 15.774938-14.837942 16.861934l-44.382827 5.689978a165.999352 165.999352 0 0 1-17.982929 43.38083l27.369893 35.418862c5.22898 6.767974 4.615982 16.366936-1.431995 22.414912l-26.926895 26.926895c-6.047976 6.047976-15.646939 6.659974-22.414912 1.430995l-35.418862-27.368893a165.999352 165.999352 0 0 1-43.37983 17.982929l-5.689978 44.382827c-1.087996 8.482967-8.309968 14.837942-16.862934 14.837942h-38.079851c-8.552967 0-15.774938-6.354975-16.861934-14.837942l-5.689978-44.382827a165.999352 165.999352 0 0 1-43.380831-17.982929l-35.418861 27.369893c-6.767974 5.22898-16.366936 4.615982-22.414913-1.431995l-26.926895-26.926895c-6.047976-6.047976-6.659974-15.646939-1.430994-22.414912l27.368893-35.418862a165.999352 165.999352 0 0 1-17.98293-43.37983l-44.382826-5.689978c-8.482967-1.087996-14.837942-8.309968-14.837942-16.862934v-38.079851c0-8.552967 6.354975-15.774938 14.837942-16.861934l44.382826-5.689978a165.999352 165.999352 0 0 1 17.98293-43.380831l-27.369893-35.418861c-5.22898-6.767974-4.615982-16.366936 1.431994-22.414913l26.926895-26.926895c6.047976-6.047976 15.646939-6.659974 22.414913-1.430994l35.418861 27.368893zM802.997363 882.996551c44.182827 0 79.999688-35.81686 79.999688-79.999688s-35.81686-79.999688-79.999688-79.999687-79.999688 35.81686-79.999687 79.999687 35.81686 79.999688 79.999687 79.999688z" fill="#8f1e34" p-id="14310"></path></svg>
                            修改密码
                        </a>
                    </li>
                    <li>
                        <a href="/User/Exit">
                            <svg t="1592140609495" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="15893" width="16" height="16"><path d="M224 704c-8 0-16-3.2-22.4-9.6l-160-160c-12.8-12.8-12.8-32 0-44.8l160-160c12.8-12.8 32-12.8 44.8 0 12.8 12.8 12.8 32 0 44.8L108.8 512l137.6 137.6c12.8 12.8 12.8 32 0 44.8-6.4 6.4-14.4 9.6-22.4 9.6z m416-160H80c-17.6 0-32-14.4-32-32s14.4-32 32-32h560c17.6 0 32 14.4 32 32s-14.4 32-32 32z m192 384H480c-52.8 0-96-43.2-96-96V704c0-17.6 14.4-32 32-32s32 14.4 32 32v128c0 17.6 14.4 32 32 32h352c17.6 0 32-14.4 32-32V192c0-17.6-14.4-32-32-32H480c-17.6 0-32 14.4-32 32v128c0 17.6-14.4 32-32 32s-32-14.4-32-32V192c0-52.8 43.2-96 96-96h352c52.8 0 96 43.2 96 96v640c0 52.8-43.2 96-96 96z" p-id="15894" fill="#a55248"></path></svg>
                            退出账户
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9" style="height:1000px;border:1px solid blue">
                <section>
                    <div>
                        <nav aria-label="breadcrumb" style="margin-top:15px">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/User/MainPage?id=@infos.UserID">我的账户</a></li>
                                <li class="breadcrumb-item active" aria-current="page">我的分享</li>
                            </ol>
                        </nav>
                    </div>
                    @RenderBody()
                </section>
            </div>
        </div>
    </div>
    <footer style="background-color:black;text-align:center;height:120px;line-height:40px">
        <p style="color:white">&copy;@DateTime.Now.Year - 繁星资源网<一个专注于分享各种开放型资源的网站><br />了解更多请关注QQ：2205579785 或 微博@十分di优秀</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
