<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Styles.Render("~/Content/css4")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap4")
</head>
<body style="padding-top: 0px;">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand/logo -->
        <img src="~/Content/Layout/Logo.png" style="width:50px;height:50px;" />
        <a class="navbar-brand" href="#" style="padding-top:10px;font-family:STXingkai;font-size:24px">繁星资源网</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" style="font-size:8px;font-weight:bold">
                        <img src="~/Content/icon/png/福利.png" style="width:10px;height:10px;margin-top:-2px"/>
                        福利资源
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="font-size:8px;font-weight:bold">
                        <img src="~/Content/icon/png/手机.png" style="width:10px;height:10px;margin-top:-2px" />
                        手机资源
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="font-size:8px;font-weight:bold"><img src="~/Content/icon/png/学习.png" style="width:10px;height:10px;margin-top:-2px" />
                    学习资源</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="font-size:8px;font-weight:bold"><img src="~/Content/icon/png/网站.png" style="width:10px;height:10px;margin-top:-2px" />
                    建站资源</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="font-size:8px;font-weight:bold">
                        <img src="~/Content/icon/png/电脑.png" style="width:10px;height:10px;margin-top:-2px" />PC端资源</a>
                </li>
            </ul>
            <a href="#" style="font-size:12px;color:white">登录</a>
            <label  style="font-size:24px;color:white">|</label>
            <a href="#"  style="font-size:12px;color:white">注册</a>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 应用程序</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
