@model IEnumerable<Models.UserInfo>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_MLayout.cshtml";
}
@using Models;
@{
    Administrators adm = Session["Admin"] as Administrators;
    if (TempData["sucess"] != null)
    {
        <script type="text/javascript">
            alert("@TempData["sucess"]");
        </script>
    }
}
<form method="get" action="/Mannage/Users" id="form">
    <div class="row">
        <div class="col-2" style="margin-top:15px">
            <select class="form-control" id="UserState" name="UserState" onchange="select()">
                <option>======</option>
                <option value="0">正常</option>
                <option value="1">封禁</option>
            </select>
        </div>
        <div class="col-10" style="margin-top:15px">
            <input type="text" class="form-control" placeholder="用户搜索" name="searcher" style="max-width:100%">
        </div>
    </div>
</form>
<br />
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>
                登录名
            </th>
            <th>
                登录密码
            </th>
            <th>
                邮箱
            </th>
            <th>
                用户名
            </th>
            <th>
                积分
            </th>
            <th>
                状态
            </th>
            <th>
                头像
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="thead-light">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LoginName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoginPwd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.E_mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.integral)
                </td>
                <td>
                    @if (item.UserState == 0)
                    {
                        <label style="color:green">正常</label>
                    }
                    else
                    {
                        <label style="color:red">封禁</label>
                    }
                </td>
                <td>
                    <img src="/Content/icon/@item.UserPicture" style="width:55px;height:55px;border:1px solid #d1cece" />
                </td>
                <td>
                    @if (Session["Admin"] != null && adm.Jurisdiction != 0)
                    {
                        <a href="/Mannage/UserDetails?id=@item.UserID" class="btn btn-info">操作</a>
                        <a href="/Mannage/UserDelete?id=@item.UserID" class="btn btn-danger" onclick="return confirm('确认删除？')">删除</a>
                    }
                    else
                    {

                    }
                </td>
            </tr>
        }

    </tbody>
</table>
@*分页*@
<div class="row">
    <div class="col-lg-8 form-inline">
        <label>总共 @ViewBag.tatalCount 行</label>
        <lable>选择显示的行数：</lable>
        <select name="pageCount" id="pageCount" onchange="window.location = this.value;">
            @{
                int[] count = new[] { 5, 10, 20, 30, 40, 50 };
            }
            @foreach (var item in count)
            {
                if (item.Equals(ViewBag.pageCount))
                {
                    <option selected value="~/Mannage/Users?pageIndex=1&pageCount=@item">@item</option>
                }
                else
                {
                    <option value="~/Mannage/Users?pageIndex=1&pageCount=@item">@item</option>
                }

            }

        </select>
    </div>
    <div class="col-lg-4">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="~/Mannage/Users?pageIndex=1&pageCount=@ViewBag.pageCount">首页</a></li>
                @if (ViewBag.pageIndex > 1)
                {
                    <li class="page-item"><a class="page-link" href="~/Mannage/Users?pageIndex=@(ViewBag.pageIndex-1)&pageCount=@ViewBag.pageCount">上一页</a></li>

                }
                else
                {
                    <li class="page-item disabled"><a class="page-link" href="#">上一页</a></li>
                }
                <li class="page-item">
                    <a class="page-link" href="#">@ViewBag.pageIndex</a>
                </li>
                @if (ViewBag.pageIndex < ViewBag.tatalPage)
                {
                    <li class="page-item"><a class="page-link" href="~/Mannage/Users?pageIndex=@(ViewBag.pageIndex+1)&pageCount=@ViewBag.pageCount">下一页</a></li>

                }
                else
                {
                    <li class="page-item disabled"><a class="page-link" href="#">下一页</a></li>
                }

                <li class="page-item"><a class="page-link" href="~/Mannage/Users?pageIndex=@ViewBag.tatalPage&pageCount=@ViewBag.pageCount">末页</a></li>
            </ul>
        </nav>
    </div>
</div>
<script>
    function select() {
        $("#form").submit();
    }
</script>
